---
sudo: false
language: ruby
cache: bundler
rvm:
  - 2.6.3
before_install: gem install bundler -v 2.0.2
before_deploy: bundle exec rake test
deploy:
  provider: rubygems
  api_key: $API_KEY
  on:
    tags: true